html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 40px;
    text-align: center;

    display: inline-block;
    padding-bottom: 15px;
    position: relative;
}

.title::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: 3px solid #272727;
    right: 0;
    margin: 0 auto;
}

.active_nav {
    color: #fff !important;
}

.sub-title {
    font-size: 1.5rem;
    font-weight: 700;
}

a:active {
    color: white;
}

.name {
    font-size: 1.5rem;
    letter-spacing: 0.4mm;
}

.email {
    text-decoration: none;
}

.CV {
    text-decoration: none;
    background-color: #272727;
    color: #fff;
    /* padding: 15px 30px; */
    /* border-radius: 10px; */
    border: 1px solid #272727;
    transition: all 0.3s ease-in-out;
}

.CV:hover {
    color: #272727;
    background: transparent;
}

.about-job {
    border-left: 1px solid #272727;
}

.about-job:nth-child(1) {
    border: none;
}

.numbers {
    font-size: 2.5rem;
    text-align: center;
}

header {
    background-color: #272727;
    text-align: center;
    color: #fff;
}

header .profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

header h1 {
    font-size: 2em;
}

header .primary,
i {
    font-size: 1.3em;
}

/* about  */
.about {
    color: #272727;
    /* background-color: #eee; */
}

.about .container {
    text-align: start !important;
}

.about img {
    border-radius: 50%;
}

/* services  */
.services {
    background-color: #eee;
}

.services .card {
    transition: all 0.3s ease-in-out;
    line-height: 2;
}

.services .card:hover {
    background-color: #272727;
    color: #fff;
    transform: scale(1.04);
}

/* my skills  */
.skills .skill {
    font-size: 16px;
    font-weight: 600;
}

.skills .html {
    background-color: #e34c26;
}

.skills .css {
    background-color: #2965f1;
}

.skills .js {
    background-color: #f0db4f;
}

.skills .bootstrap {
    background-color: #563d7c;
}

.skills .php {
    background-color: #787CB5;
}

.skills .sql {
    background-color: #f29111;
}

.skills .vue {
    background-color: #41b883;
}

.skills .lara {
    background-color: #f05340;
}

/* my projects  */
.projects {
    background: linear-gradient(to right, rgba(60, 60, 60, 0.4), rgba(60, 60, 60, 0.4)), url("../img/pjs.jpg") no-repeat center;
    /* background-color: #eee; */
    object-fit: cover;
    background-size: cover;
    background-attachment: fixed;
}

.projects .title {
    color: #fff;
}

.projects .title::after {
    border-bottom: 3px solid #fff;
}

.projects .owl-item.active.center .card {
    transform: scale(1.16);
    opacity: 1;
    /* background-color: #272727;
    color: #fff;   */
}

.projects .owl-carousel .card {
    background-color: #fff;
    margin: 50px 15px 20px 15px;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgba(206, 191, 191, 0.493);
    transform: scale(0.8);
    opacity: 0.5;
    transition: all 0.3s;
}

.projects .owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
    z-index: 1;
}

.projects .owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
    z-index: 1;
}

/* contact */
.contact {
    background-color: #fff;
    color: #272727;
}

.contact i {
    color: #272727;
}

.contact i:hover {
    color: #777;
}

.upArrow {
    padding: 6px;
    border: 1px solid #272727;
    background-color: #272727;
    color: #fff;
    border-radius: 5px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    text-decoration: none;
    cursor: pointer;
}

.contact .send {
    border: 1px solid #272727;
    color: #272727;
    background: transparent;
}

.upArrow:hover {
    color: #272727;
    background-color: transparent;
}

/* .contact .title::after {
    border-bottom: 3px solid #fff !important;
} */

@media screen and (max-width: 576px) {
    .about-job:nth-child(1) {
        border-bottom: 1px solid #272727;
    }

    .about-job:nth-child(2) {
        border-bottom: 1px solid #272727;
    }

    .about-job:nth-child(3) {
        border: none;
    }
}