* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 40px;
    text-align: center;

    display: inline-block;
    padding-bottom: 15px;
    position: relative;
}

.title::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: 3px solid #272727;
    right: 0;
    margin: 0 auto;
}

.sub-title {
    font-size: 1.5rem;
    font-weight: 700;
}

a:active {
    color: white;
}

.name {
    font-size: 1.5rem;
    letter-spacing: 0.4mm;
}

.email {
    text-decoration: none;
}

.CV {
    text-decoration: none;
    background-color: #272727;
    color: #fff;
    /* padding: 15px 30px; */
    /* border-radius: 10px; */
    transition: 0.5s ease-in-out;
}

.CV:hover {
    color: #fff;
}

.about-job {
    border-left: 1px solid #272727;
}

.about-job:nth-child(1) {
    border: none;
}

.numbers {
    font-size: 2.5rem;
    text-align: center;
}

header {
    background-color: #272727;
    text-align: center;
    color: #fff;
}

header .profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

header h1 {
    font-size: 2em;
}

header .primary,
i {
    font-size: 1.3em;
}

body {
    overflow-x: hidden;
}

/* what i do  */
.whatIdo {}

.whatIdo .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.4s ease-in-out;
}

.whatIdo .card:hover {
    transform: scale(1.04);
}

/* about  */
.about {
    color: #272727;
    /* background-color: #eee; */
}

.about .container {
    text-align: start !important;
}

.about img {
    border-radius: 50%;
}

/* my projects  */
.projects{
    /* background-color: #272727; */
}
/* .projects img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all .3s ease;
}

.projects .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
} */

/* .projects .box {
    border: 1px solid gold;
    width: 300px;
    height: 200px;
    position: relative;
   
} */

/* .projects .box-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.609);
    opacity: 0;
    transition: all 0.5s ease-in;
} */

/* .projects .box-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.projects .box-img:hover .box-overlay {
    opacity: 1;
    z-index: 1;
} */

/* img hover  */
#art-img-container {
    position: relative;
}

.art-img {
    opacity: 1;
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.67);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#art-img-container:hover .act-img {
    opacity: 0.5;
}

#art-img-container:hover .middle {
    opacity: 1;
}

.text {
    color: #fff;
    font-size: 14px;
    padding: 20px 32px;
}

/* services  */
.services {
    background-color: #eee;
}

.services .card {
    transition: 0.4s ease-in-out;
    line-height: 2;
}

.services .card:hover {
    background-color: #272727;
    color: #fff;
    transform: scale(1.04);
}

/* contact */
.contact {
    padding: 60px 0;
    text-align: center;
    /* background-color: #272727; */
    color: #fff;
}

.contact .container {
    text-align: start !important;
}

.contact .title::after {
    border-bottom: 3px solid #fff !important;
}

@media screen and (max-width: 576px) {
    .about-job:nth-child(1) {
        border-bottom: 1px solid #272727;
    }

    .about-job:nth-child(2) {
        border-bottom: 1px solid #272727;
    }

    .about-job:nth-child(3) {
        border: none;
    }
}